.contact-me {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    width: 40%;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  a {
    font-size: 0.8rem;
    height: 10%;
    width: 20%;
    border-radius: 0;
    padding: 1rem 2.5rem;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      width: 50%;
    }
  }
}

.line-contact {
  border: 1px solid white;
  width: 60%;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
