.hero {
  // General Styles
  display: flex;

  background-image: url("../../images/image-homepage-hero-2.png");
  background-position: center;
  background-size: cover;
  background-size: 90%;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;

  .line {
    border: 1px solid rgba(211, 211, 211, 0.308);
    width: 100%;
  }

  // Small Screens
  @media only screen and (max-width: 600px) {
    background-image: none;
    padding: 2rem;
    flex-direction: column;
    align-items: center;

    .section-seperator {
      height: 1px;
      width: 80vw;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    margin: 2rem 0;
    margin-bottom: 12rem;
    height: 65vh;

    .section-seperator {
      width: 0;
    }
  }
}

.text-container {
  // General Styles

  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(25%);

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
  }

  #about-me-button {
    background-color: #33323d;
    border-radius: 0;
    border: 0;

    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    text-transform: uppercase;

    padding: 1rem 3rem;
    margin: 0 20rem;
  }

  // Small Screens
  @media only screen and (max-width: 600px) {
    text-align: center;
    width: 100%;

    #about-me-button {
      margin-top: 2rem;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    padding: 1rem;

    width: 50%;

    h1 {
      font-size: 3rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }

    h2 {
      font-size: 2rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }
  }
}
