.about-image {
  height: 600px;
}

.text-column {
  hr {
    margin-top: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    color: #747475;
    line-height: 1.9;
  }

  a {
    font-size: 0.8rem;
    border-radius: 0;
    padding: 1rem 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.line {
  border: 1px solid rgba(211, 211, 211, 0.308);
  width: 100%;
}

.end {
  justify-self: end;
}
