.footer {
  background-color: #33323d;

  .footer-link {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    text-transform: uppercase;

    color: #eaeaeb !important;
  }
}
